<a href="https://colab.research.google.com/github/sj21446/CC-python-pandas-matplotlib/blob/master/pandas_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
a = 4+5
print(a)

9

In [4]:
print(4+5)

9

Python types

In [18]:
x = "humanitarian response location"
print(type(x))
y = 82
print(type(y))
z = True
print(type(z))
v = 1.1
print(type(v))
print("ab"+"cd")

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'float'>
abcd

Load pandas

In [21]:

!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.0.4)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

Using pandas dataframes

In [23]:
data = {
    "apples": [3, 2, 1, 0],
    "oranges": [0, 3, 7, 2]
}
purchases = pd.DataFrame(data, index=["June", "Robert", "Lily", "David"])
purchases

        apples  oranges
June         3        0
Robert       2        3
Lily         1        7
David        0        2

Locate a piece of data in the table

In [24]:
purchases.loc["June"]

apples     3
oranges    0
Name: June, dtype: int64

Loading data from a CSV file

In [0]:
df = pd.read_csv('purchases.csv')

df

To designate the index column in the csv, write:

In [0]:
df = pd.read_csv('purchases.csv', index_col=0)

df

To load data from a JSON file:

In [0]:
df = pd.read_json('purchases.json')

df

Converting back to CSV or JSON after cleaning and analysing

In [0]:
df.to_csv('new_purchases.csv')

df.to_json('new_purchases.json')

df.to_sql('new_purchases', con)

to find out which version of pandas is running

In [1]:
import pandas as pd

print(pd.__version__)

1.0.4

Basic pandas series

In [3]:
import pandas as pd

my_series = pd.Series([4.6, 2.1, -4.0, 3.0])
print(my_series)
print(my_series.values)

0    4.6
1    2.1
2   -4.0
3    3.0
dtype: float64
[ 4.6  2.1 -4.   3. ]

Creating a dictionary in Python - key: value pairs are seperated by commas. To call a value, type in the dictionary name, followed by the key in square brackets

In [6]:
hungarian_dictionary = {'spaceship': 'űrhajó',
                        'watermelon': 'görögdinnye',
                        'bicycle': 'kerékpár'}

hungarian_dictionary['watermelon']

'görögdinnye'

In [7]:
# Names (keys) mapped to a tuple (the value) containing the height, lat and longitude.
scottish_hills = {'Ben Nevis': (1345, 56.79685, -5.003508),
                  'Ben Macdui': (1309, 57.070453, -3.668262),
                  'Braeriach': (1296, 57.078628, -3.728024),
                  'Cairn Toul': (1291, 57.054611, -3.71042),
                  'Sgòr an Lochain Uaine': (1258, 57.057999, -3.725416)}
scottish_hills['Ben Nevis']

(1345, 56.79685, -5.003508)

Loading this dictionary into a data frame - uses the key (1st part of the pair) as the column heading, and the values in the rows

In [8]:
dataframe = pd.DataFrame(scottish_hills)
print(dataframe)

     Ben Nevis   Ben Macdui    Braeriach   Cairn Toul  Sgòr an Lochain Uaine
0  1345.000000  1309.000000  1296.000000  1291.000000            1258.000000
1    56.796850    57.070453    57.078628    57.054611              57.057999
2    -5.003508    -3.668262    -3.728024    -3.710420              -3.725416

So it's better to include the actual column headings you want to use as the keys for the values, like this:

In [0]:
scottish_hills2 = {'Hill Name': ['Ben Nevis', 'Ben Macdui', 'Braeriach', 'Cairn Toul', 'Sgòr an Lochain Uaine'],
                  'Height': [1345, 1309, 1296, 1291, 1258],
                  'Latitude': [56.79685, 57.070453, 57.078628, 57.054611, 57.057999],
                  'Longitude': [-5.003508, -3.668262, -3.728024, -3.71042, -3.725416]}

In [12]:
dataframe2 = pd.DataFrame(scottish_hills2)
print(dataframe2)

               Hill Name  Height   Latitude  Longitude
0              Ben Nevis    1345  56.796850  -5.003508
1             Ben Macdui    1309  57.070453  -3.668262
2              Braeriach    1296  57.078628  -3.728024
3             Cairn Toul    1291  57.054611  -3.710420
4  Sgòr an Lochain Uaine    1258  57.057999  -3.725416

You can also specify the order of the columns, like this:

In [14]:
dataframe2 = pd.DataFrame(scottish_hills2, columns=['Latitude', 'Longitude', 'Height', 'Hill Name'])
print(dataframe2)

    Latitude  Longitude  Height              Hill Name
0  56.796850  -5.003508    1345              Ben Nevis
1  57.070453  -3.668262    1309             Ben Macdui
2  57.078628  -3.728024    1296              Braeriach
3  57.054611  -3.710420    1291             Cairn Toul
4  57.057999  -3.725416    1258  Sgòr an Lochain Uaine

Data in each column is indexed as a SERIES, and can be called out independently

In [15]:
print(dataframe2['Hill Name'])

0                Ben Nevis
1               Ben Macdui
2                Braeriach
3               Cairn Toul
4    Sgòr an Lochain Uaine
Name: Hill Name, dtype: object

You can also just call out the top or bottom X number of rows ... head = top, and tail = bottom:

In [16]:
# this prints out the top 2 rows
print(dataframe2.head(2))

#this prints out the bottom 2 rows
print(dataframe2.tail(2))

    Latitude  Longitude  Height   Hill Name
0  56.796850  -5.003508    1345   Ben Nevis
1  57.070453  -3.668262    1309  Ben Macdui
    Latitude  Longitude  Height              Hill Name
3  57.054611  -3.710420    1291             Cairn Toul
4  57.057999  -3.725416    1258  Sgòr an Lochain Uaine

to call out a row at a particular index number, use this:

In [19]:
#this prints out the row at integer location (iloc) 1 - Ben Macdui
print(dataframe2.iloc[1])

Latitude        57.0705
Longitude      -3.66826
Height             1309
Hill Name    Ben Macdui
Name: 1, dtype: object

If we want a particular data point that's found at a particular location in the table, we can give row AND column coordinates - Ben Macdui's height is at row 1, column 2:

In [20]:
print(dataframe2.iloc[1,2])

1309

You can also do it this way in pandas by calling the name of the series, and then the index (row) number

In [22]:
# get me the hill name series, and get me the zero-th name (ie. at index position 0) in that series
print(dataframe2['Hill Name'][0])

Ben Nevis

And you can also call a whole series (column) by using the column name as an attribute, like this:

In [24]:
dataframe2.Height

0    1345
1    1309
2    1296
3    1291
4    1258
Name: Height, dtype: int64

And you can filter the whole dictionary, so you only get the values you want, like this:

In [25]:
# this returns only the mountains in the series that are bigger than 1300
dataframe2[dataframe2.Height > 1300]

    Latitude  Longitude  Height   Hill Name
0  56.796850  -5.003508    1345   Ben Nevis
1  57.070453  -3.668262    1309  Ben Macdui

We can also add new data to the dictionary, like this:

In [32]:
#this adds a new series (column) to the dictionary, called Region
dataframe2['Region'] = ['Grampian', 'Cairngorm', 'Caingorm', 'Cairngorm', 'Cairngorm']
print(dataframe2)

    Latitude  Longitude  Height              Hill Name     Region
0  56.796850  -5.003508    1345              Ben Nevis   Grampian
1  57.070453  -3.668262    1309             Ben Macdui  Cairngorm
2  57.078628  -3.728024    1296              Braeriach   Caingorm
3  57.054611  -3.710420    1291             Cairn Toul  Cairngorm
4  57.057999  -3.725416    1258  Sgòr an Lochain Uaine  Cairngorm